

#starbtn {
  z-index: 1;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  border-radius: 0.25rem;
}

#compareBtn {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  border-radius: 0.25rem;
}

#left-related {
  display: inline-flex;
  position: absolute;
  top: 10rem;
  left: 0rem;
  height: 20px;
  width: 20px;
}

#right-related {
  display: inline-flex;
  position: absolute;
  top: 10rem;
  right: 0rem;
  height: 20px;
  width: 20px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#relatedTitle {
  margin-bottom: 0px !important;
}

#outfitTitle {
  margin-bottom: 0px !important;
}

#addCard {
  width:  250px;
  height: 250px;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 2rem
}

#plus {
  color: black;
  position: absolute;
  top: 5.5rem;
  right: 5rem;
  height: 4rem;
  width: 4rem;
  min-height: 4rem;
  border-radius: 0.25rem;
  opacity: 1;
}

#plus:hover {
  color: black;
  background-color: lightgray;
}

.cardImg {
  float: left;
  width:  250px;
  height: 250px;
  object-fit: cover;
}

.card1 {
  width: 900px;
  height: 440px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardStar {
  position: absolute;
  right: 0rem;
}

#relatedRating {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

#compareModal {
  box-sizing: border-box;
  padding: 10px;
}

#ratingCount {
  position: absolute;
  bottom: 0.85rem;
  right: 5rem;
}