@mixin animate($animation,$duration,$method,$times)
  animation: $animation $duration $method $times

@mixin keyframes($name)
  @keyframes #{$name}
    @content

@keyframes colorShift
  0%
    background-color: 'red' !important,
  25%
    background-color: 'yellow' !important,
  50%
    background-color: 'blue' !important,
  75%
    background-color: 'green' !important,
  100%
    background-color: 'red' !important,

.circle
  border-radius: 50%
.hidden
  display: none
.background-wh
  background-color: white
.x10
  width: 10px
  height: 10px
.x20
  width: 20px
  height: 20px
.x32
  width: 32px
  height: 32px
.userDateCheck
  align-items: center
  span
    margin-right: 5px
    .check
      position: relative
      top: 2px
      left: 2px
      max-width: 7px
      max-height: 7px
  a
    font-size: 10pt

.mainRatings
  grid-template-columns: 30% 70%
  width: 100%
  .rightReviews
    .reviewList::-webkit-scrollbar
      display: none
    > *
      .header
        h3
          font-weight: 600
          margin: 30px 0
          select
            outline: 0
            text-decoration: underline
  .leftReviews > *
    margin-bottom: 20px
    h1
      font-size: 4rem
      font-weight: 900
  .review > *
    margin-bottom: 20px
  .review
    div.showMore
      width: 100%
      display: flex
      justify-content: space-around
    p
      font-size: 0.875rem
      opacity: 0.95
    h3
      font-size: 1.125rem
      font-weight: 600
.newReviewModal
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  cursor: pointer
  background-color: rgba(0, 0, 0, 0.8)
  z-index: 999
  .modalBox
    cursor: default
    transition: opacity 500ms ease-in
    opacity: 0
    overflow-y: auto
    max-height: 90%
    padding: 30px 0
    div.text-error:first-letter
      text-transform: capitalize
    input[type='range']::-webkit-slider-thumb
      background-color: #565656
    input[type='range']
      --p: '0'
      transition: background-color 0.25s ease-in
    input[type='range']:hover::-webkit-slider-thumb
      background-color: grey
    input[type='range']:active::-webkit-slider-thumb
      background-color: darkgrey
  .modalBox::-webkit-scrollbar
    display: none
  .modalBox.active
    opacity: 1
  form
    > *
      margin-bottom: 20px
    > div > *
      align-self: center
    .recommendedButton
      transition: background-color 0.5s ease-out
    .recommendedButton:hover
      background-color: lightgrey
    .recommendedButton:active
      background-color: grey
    textarea::-webkit-scrollbar
      display: none
.graph
  h2
    margin-bottom: 15px
  div.filledBar
    transition: background-color 0.25s ease-in
    @include keyframes(shiftCol)
      0%
      background-color: black
      25%
      background-color: lightgrey
      50%
      background-color: grey
      75%
      background-color: darkgrey
      100%
      background-color: black
  div.filledBar.animating, div.filledBar.selected
    //@include animate(shiftCol, 1s, linear, infinite)
    background-color: black
.sliderDisplay > *
  margin-bottom: 5px
.userDateCheck
  svg
    margin-right: 5px
