.circle
  border-radius: 50%
.background-wh
  background-color: white
.x10
  width: 10px
  height: 10px
.x20
  width: 20px
  height: 20px
.x32
  width: 32px
  height: 32px
.userDateCheck
  display: flex
  flex-direction: row
  width: 200px
  align-items: center
  span
    margin-right: 5px
    .check
      position: relative
      top: 2px
      left: 1px
      max-width: 7px
      max-height: 7px
  a
    font-size: 10pt

.mainRatings
  grid-template-columns: 25% 75%
  .leftReviews > *
    margin-bottom: 20px
    h1
      font-size: 48pt
      font-weight: 900