@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@200;300;600&family=Raleway&display=swap');



body, #bigRoot {
  width: 100%;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

.app > * {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
}


#tooltip {
  z-index: 9;
}

#relatedItems {
  z-index: 1;
}

#card {
  z-index: 199;
}

#starbtn {
  z-index: 9;
}

body{
  font-family: 'Comfortaa';
}

.PhotoModal {
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.closePhotoModal {
  background-color: white;
  position: absolute;
  float:right;

}

#btn3 {
  display: inline-flex;
  position: relative;
  background-color: transparent;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0%;
  height: 0%;
}