@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



#root {
  display: flex;
  justify-content: center;
  min-width: 400px;
  width: 1000px;
}

.app {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
}

#root > * > * {
  margin-bottom: 55px;
}

#titleCard {
  color: blue;
}

#tooltip {
  z-index: 9;
}

#relatedItems {
  z-index: 1;
}

#card {
  z-index: 199;
}

#starbtn {
  z-index: 9;
}